/.metadata/
Knuflix_web/.classpath
Knuflix_web/.project
Knuflix_web/.settings/.jsdtscope
*.prefs
*.xml
*.policy
*.properties
*.component
Knuflix_web/.settings/org.eclipse.wst.jsdt.ui.superType.container
*.name
Servers/.project
.metadata/
*.policy
*.prefs
*.name
*.properties
*.container
Knuflix_web/.settings/
*.component
Knuflix_web/.classpath
*.ini
*.xml
*.index
Knuflix_web/.project
Servers/.project
webDesign/.DS_Store
design/.DS_Store
.DS_Store
