.my-party-fee {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.my-party-fee .div {
    background-color: #000000;
    width: 1728px;
    height: 1117px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.my-party-fee .empty {
    background-color: black;
    width: 1728px;
    height: 50px;
}

.my-party-fee .overlap {
    top: 46px;
    position: absolute;
    width: 1728px;
    height: 739px;
    left: 0;
}

.my-party-fee .overlap-group {
    top: 0;
    position: absolute;
    width: 1728px;
    height: 739px;
    left: 0;
}

.my-party-fee .main-logo {
    position: absolute;
    width: 164px;
    height: 57px;
    top: 0;
    left: 41px;
    object-fit: cover;
}

.my-party-fee .background-poster {
    position: absolute;
    width: 1728px;
    height: 690px;
    top: 49px;
    left: 0;
    opacity: 0.7;
}

.my-party-fee .poster {
    position: absolute;
    width: 298px;
    height: 690px;
    top: 0;
    left: 1430px;
    object-fit: cover;
}

.my-party-fee .img {
    position: absolute;
    width: 298px;
    height: 690px;
    top: 0;
    left: 1079px;
    object-fit: cover;
}

.my-party-fee .title {
    position: absolute;
    width: 1317px;
    top: 209px;
    left: 205px;
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-weight: 700;
    font-size: 60px;
    white-space: nowrap;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.my-party-fee .leader-title {
    position: absolute;
    width: 248px;
    top: 350px;
    left: 324px;
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.my-party-fee .member-title {
    position: absolute;
    width: 248px;
    top: 350px;
    left: 1128px;
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.my-party-fee .leader-table {
    position: absolute;
    width: 664px;
    height: 344px;
    top: 431px;
    left: 116px;
    border-radius: 5px;
}
.my-party-fee .member-table {
    position: absolute;
    width: 664px;
    height: 344px;
    top: 431px;
    left: 934px;
    border-radius: 5px;
}

table {
    position: absolute;
    width: 664px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ffffff;
    color: white;

    align-items: center;
    background-color: black;
    color: white;
}

th {
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-size: 17px;
    text-align: center;
    padding: 8px;
}

tr {
    border: 1px solid #dddddd;
}

td {
    font-family: "Helvetica Neue-Medium", Helvetica;
    font-size: 17px;
    border: 1px solid #ddd;
    padding: 15px 30px;
}

.my-party-fee .sub-fee-string {
    position: absolute;
    width: 798px;
    top: 867px;
    left: 465px;
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-weight: 700;
    font-size: 40px;
    white-space: nowrap;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.my-party-fee .my-account-button {
    position: absolute;
    width: 100px;
    height: 25px;
    top: -5px;
    left: 1629px;
}

.my-party-fee .user-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.my-party-fee .polygon {
    position: absolute;
    width: 10px;
    height: 6px;
    top: 12px;
    left: 26px;
}

.my-party-fee .search-my-party {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 5px;
    left: 236px;
}

.my-party-fee .search-contents {
    left: 418px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 5px;
}

.my-party-fee .search-ebook {
    left: 579px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 5px;
}

.my-party-fee .search-platform {
    left: 713px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 5px;
}

.dropdown{
    position : relative;
    display : inline-block;
}

.dropbtn{
    border: 0;
    background-color: transparent;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Helvetica Neue-Medium", Helvetica;
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
.dropdown-content{
    display : none;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    position: relative;

    width: fit-content;
    margin-top: -1px;
    left: -20px;
    top: 7px;
    font-family: "Helvetica Neue-Medium", Helvetica;
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    max-width: 200px;
}

.dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(163, 163, 163);
    font-size: 12px;
    padding : 12px 20px;
}

.dropdown-content a:hover{
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content1{
    display : none;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    position: relative;

    width: fit-content;
    margin-top: -1px;
    left: -35px;
    top: 30px;
    font-family: "Helvetica Neue-Medium", Helvetica;
    font-weight: 400;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.dropdown-content1 a{
    display : block;
    text-decoration : none;
    color : rgb(163, 163, 163);
    font-size: 12px;
    padding : 12px 20px;
}

.dropdown-content1 a:hover{
    color: #ffffff;
}

.dropdown:hover .dropdown-content1 {
    display: block;
}

.my-party-fee .main-string {
    position: absolute;
    width: 1317px;
    top: 409px;
    left: 205px;
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-weight: 700;
    color: white;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.my-party-fee .subscribe-string {
    position: absolute;
    width: 487px;
    top: 500px;
    left: 620px;
    font-family: "Helvetica Neue-Medium", Helvetica;
    font-weight: 500;
    color: white;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.my-party-fee .no-leader-string {
    position: absolute;
    width: 492px;
    top: 536px;
    left: 202px;
    font-family: "Helvetica Neue-Regular", Helvetica;
    font-weight: 400;
    color: white;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.my-party-fee .no-member-string {
    position: absolute;
    width: 492px;
    top: 536px;
    left: 1020px;
    font-family: "Helvetica Neue-Regular", Helvetica;
    font-weight: 400;
    color: white;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}